{% set imageclass = 'noimage' %}
{% if content.field_hero[0]["#paragraph"].field_image.entity.field_media_image.entity.fileuri and content.field_hero['#is_multiple'] == false %}
  {% set imageclass = 'hasimage' %}
{% endif %}

<div class="search-result-item {{ imageclass }}">
	{% if content.field_hero[0]["#paragraph"].field_image.entity.field_media_image.entity.fileuri and content.field_hero['#is_multiple'] == false %}
		{% set media_uri = content.field_hero[0]["#paragraph"].field_image.entity.field_media_image.entity.fileuri|image_style('link_list') %}
		<div class="card_image"><img src={{ media_uri }} loading="lazy" alt="{{ 'Card title - ' ~ node.title.value|raw }}"/></div>
	{% endif %}
	<div class="card_content_wrapper">
		{% if eyebrow_node %}
			<div class="card_eyebrow">{{ eyebrow_node|raw }}</div>
		{% endif %}
		<div class="card_title">
			<a href="{{ url }}" tabindex="-1" >{{ node.title.value|raw }}</a>
		</div>
    {% if node.type.value.0.target_id == 'article' %}
      {% if content.field_description_text.0 %}
        <div class="card_des">{{ content.field_description_text.0['#text']|striptags|length > 150 ? content.field_description_text.0['#text']|striptags|raw|replace({'&nbsp;' : ' '})|slice(0, 150) ~ '…' : content.field_description_text.0['#text']|striptags|raw|replace({'&nbsp;' : ' '}) }}</div>
      {% else %}
        <div class="card_des">{{ content.body.0['#text']|striptags|length > 150 ? content.body.0['#text']|striptags|raw|replace({'&nbsp;' : ' '})|slice(0, 150) ~ '…' : content.body.0['#text']|striptags|raw|replace({'&nbsp;' : ' '}) }}</div>
      {% endif %}
    {% else %}
      {% if content.body.0['#text'] %}
        <div class="card_des no-date">{{ content.body.0['#text']|striptags|length > 150 ? content.body.0['#text']|striptags|raw|replace({'&nbsp;' : ' '})|slice(0, 150) ~ '…' : content.body.0['#text']|striptags|raw|replace({'&nbsp;' : ' '}) }}</div>
      {% endif %}
    {% endif %}
    {% if content.field_publication_date %}
      <div class="publication_date">{{ content.field_publication_date }}</div>
    {% endif %}
	</div>
  <a class="box_link" href="{{ url }}" aria-label="{{ 'Learn more about '|t ~ node.title.value|raw }}">{{ 'Learn more about '|t ~ node.title.value|raw }}</a>
</div>
